body {
    background-image: url("https://images.unsplash.com/photo-1618753032504-1829cac5401e?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGNpdHklMjBiaXJkc3xlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    font-family: "Inter", serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: -1;
}

h2 {
    font-size: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.counter-size {
    width: 500px;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 24px;
    padding: 24px;
    background-color: rgba(251, 251, 251, 0.89);
    border: 1px solid rgb(192, 191, 188);
    box-shadow: 0 9px 18px rgb(187, 187, 187);

}

.Counter-buttons {
    display: block;
}

button {
    border: none;
    margin: 0 auto;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    font-weight: 500;
    width: 300px;
    margin-bottom: 5px;
    border-radius: 8px;
}

#increment-btn {
    background: #005ee1;
    color: white;
}

#increment-btn:hover {
    background: #0a4ba5;
}

#save-btn {
    margin-top: 12px;
    background-color: #487B41
}

#save-btn:hover {
    background-color: #324a2e
}

#clearset-btn {
    background:white;
    color: black;
    border: 1px solid black;
    margin-top: 100px;
}

#clearset-btn:hover {
    background:rgb(223, 223, 223);

}